ul, li{
    display: inline-block;
}

h1,h2,button,p,ul{
    margin: 0;
}

.icon-circle{
    background-color: $firmColor;
    border-radius: 50%;
    color: #f4f4f4f4;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}
li:last-child .icon-circle{
    margin-right: 0;
}

.big-button{
    background-image: url("../img/big_button_bg_2.png");
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 269px;
    height: 85px;

    &:hover{
        background-position: right 0;
    }
}

body{
    color: $firmColor2;
}

.section{
    padding-top: 90px;
    padding-bottom: 90px;
}

a:hover{
    color: $firmColor-hover;
    text-decoration: none;
}

.section-header-full{
    font-family: RadioVolna;
    font-size: 85px;
    text-align: center;
    width: 100%;
    line-height: 115px;
}

.wrapper-gray{
    background-color: $firmColor-bg;
}

img{
    max-width: 100%;
}




header {
    background-image: url("../img/1_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 200px;

    .logo-container{
        position: relative;
        font-family: GeometriaBold;
        text-transform: uppercase;
        color: #ffffff;

        img{
            max-width: none;
        }

        .name{
            position: relative;
            font-size: 24px;
            color: #ffffff;
            font-weight: bold;
        }

        .bg{
            position: absolute;
            top: -30px;
            left: -390px;
        }
    }

    a{
        font-family: HelveticaMedium;
        color: $firmColor2;
    }
    .nav-link{
        margin-right: 60px;
        font-size: 18px;
    }
    .main-nav-ul li:last-child a{
        margin-right: 0;
    }

    .main-h{
        font-family: RadioVolna;
        font-size: 115px;
        line-height: 115px;
        margin-top: 66px;
    }

    .subtitle{
        font-size: 24px;
    }

    .big-button{
        margin-top: 46px;
        margin-bottom: 76px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }

    .datail{
        font-family: HelveticaMedium;
        font-size: 24px;
        color: $firmColor;

        &:before{
            content: url("../img/check.png");
            margin-right: 27px;
            display: inline-block;
        }
    }
}




.whatIs{
    .text{
        font-size: 18px;
        font-family: HelveticaLight;
        margin-top: 55px;
        line-height: 24px;
        max-width: 500px;
    }
    .section-header{
        font-family: HelveticaMedium;
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
        margin-top: 50px;

        .marker-font{
            font-size: 60px;
            font-family: RadioVolna;
        }
    }

    .blocks{
        width: 100%;
        background-image: url("../img/ramka1.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: relative;
        padding: 55px;
    }
    
}




.ifYou{
    text-align: center;

    .blocks{
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
    }

    .block{
        width: 263px;
    }

    .text{
        font-family: HelveticaLight;
        font-size: 18px;
        line-height: 24px;
        margin-top: 45px;
    }
    img{
        display: inline-block;
        margin: 0 auto;
        width: 108px;
        height: 104px;
    }

    .info{
        font-family: HelveticaMedium;
        font-size: 24px;
        color: $firmColor;
        margin-bottom: 70px;
    }
}




.programm{
    .section-info{
        font-family: HelveticaLight;
        font-size: 18px;
        line-height: 26px;
        max-width: 911px;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}




.youLearn{
    .blockFull{
        width: 100%;
        display: inline-block;
        padding: 30px 0;
    }
    .blockHalf{
        width: 50%;

        .text{
            max-width: 390px;
            font-family: HelveticaLight;
            font-size: 22px;
        }
        .icon{
            margin-bottom: 30px;
        }
    }
    .block-right{
        float: right;
    }
}




.comments{
    position: relative;

    .section-header-full{
        margin-bottom: 40px;
    }

    img{
        padding-right: 37px;
    }

    .name{
        font-family: HelveticaMedium;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .text{
        font-family: HelveticaLightItalic;
        font-size: 18px;
        line-height: 24px;
    }
    .button-line{
        position: absolute;
        bottom: 0;
        right: 15px;
        display: flex;
        align-items: center;

        p,button{
            display: inline-block;
        }
        .help-info{
            font-size: 16px;
            color: #9d9999;
        }

        .small-button{
            background-image: url("../img/small_button_bg_2.png");
            background-color: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: auto;
            width: 54px;
            height: 50px;
            border: none;
            margin-left: 22px;

            &:hover{
                background-position: right 0;
            }

            img{
                padding-right: 0;
            }
        }
    }
}




.cost{
    .section-header{
        font-size: 60px;
        font-family: RadioVolna;
        font-weight: 300;
        line-height: 70px;
        margin-top: 50px;

        .price{
            font-size: 72px;
            font-family: HelveticaMedium;
            color: $firmColor;
        }
    }
    .info{
        font-family: HelveticaMedium;
        font-size: 30px;
        color: $firmColor;
        line-height: 40px;
        margin-top: 40px;
    }

    .form-block{
        background-image: url("../img/form-bg.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        padding: 40px 50px;
    }

    .main-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 25px 65px;
        max-width: 516px;
        background-color: #fff;
        width: 100%;

        fieldset{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        input{
            width: 100%;
            text-align: center;
            border: none;
            border-bottom: 1px solid #000;
            font-size: 16px;

            &::placeholder{
                opacity: .4;
                font-size: 16px;
            }

            &:nth-child(2){
                margin-top: 70px;
            }

            &:nth-child(3){
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

        .form-header{
            font-family: HelveticaLight;
            font-size: 30px;
        }
    
        .form-header-info{
            font-family: HelveticaLight;
            font-size: 16px;
            margin-bottom: 50px;
        }
    }

}