ul, li{
    display: inline-block;
    padding: 0;
    margin: 0;
}

h1,h2,button,p,ul{
    margin: 0;
}

.icon-circle{
    background-color: $firmColor;
    border-radius: 50%;
    color: #f4f4f4f4;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 18px;
}
li:last-child .icon-circle{
    margin-right: 0;
}

.big-button{
    background-image: url("../img/big_button_bg_2.png");
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 269px;
    height: 85px;

    &:hover{
        background-position: right 0;
    }
}
@media(max-width: 414px){
    .big-button{
        width: 128px;
        height: 40px;
        font-size: 12px;
    }
}

body, a{
    color: $firmColor2;
}

.section{
    padding-top: 90px;
    padding-bottom: 90px;
}
@media(max-width: 414px){
    .section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

a:hover{
    color: $firmColor-hover;
    text-decoration: none;
}

.section-header-full{
    font-family: RadioVolna;
    font-size: 85px;
    text-align: center;
    width: 100%;
    line-height: 90px;
}
@media(max-width: 414px){
    .section-header-full{
        font-size: 30px;
        line-height: 30px;
    }
}

.wrapper-gray{
    background-color: $firmColor-bg;
    position: relative;
    overflow: hidden;
}

img{
    max-width: 100%;
}




header {
    background-image: url("../img/1_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 200px;

    .toggle-menu-button{
        display: none;
    }

    .logo-container{
        position: relative;
        font-family: GeometriaBold;
        text-transform: uppercase;
        color: #ffffff;

        img{
            max-width: none;
        }

        .name{
            position: relative;
            font-size: 24px;
            color: #ffffff;
            font-weight: bold;
        }

        .bg{
            position: absolute;
            top: -30px;
            left: -390px;
        }
    }

    a{
        font-family: HelveticaMedium;
        color: $firmColor2;
    }
    .nav-link{
        margin-right: 60px;
        font-size: 18px;
    }
    .main-nav-ul li:last-child a{
        margin-right: 0;
    }

    .main-h{
        font-family: RadioVolna;
        font-size: 115px;
        line-height: 115px;
        margin-top: 66px;
    }

    .subtitle{
        font-size: 24px;
    }

    .big-button{
        margin-top: 46px;
        margin-bottom: 76px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .datail{
        display: block;
        font-family: HelveticaMedium;
        font-size: 24px;
        color: $firmColor;
        background-image: url("../img/check.png");
        background-repeat: no-repeat;
        padding-left: 67px;
    }
}
@include media-breakpoint-down(md) {
    header{
        .main-nav-ul, .icons-nav{
            display: none;
        }
    }
}
@include media-breakpoint-down(lg) {
    header .nav-link{
        margin-right: 25px;
    }
    header .main-h{
        font-size: 60px;
        line-height: 50px;
    }
}
@media(max-width: 576px){
    header{
        .main-h{
            font-size: 60px;
            line-height: 50px;
        }
    }
}
@media(max-width: 414px){
    header{
        padding-bottom: 126px;

        .logo-container .name{
            font-size: 10px;
            padding-left: 92px;
        }
        nav{
            padding-top: 47px;
            padding-bottom: 60px;
        }
        .main-h{
            font-size: 30px;
            line-height: 30px;
            margin-top: 0;
        }
        .subtitle{
            font-size: 12px;
            max-width: 165px;
            margin-top: 20px;
        }
        .big-button{
            margin-top: 30px;
            margin-bottom: 35px;
        }
        .datail{
            font-size: 12px;
            background-size: 5%;
            padding-left: 25px;
        }
        .right-side-col{
            padding-left: 36px;
        }
    }
}




.whatIs{
    .text{
        font-size: 18px;
        font-family: HelveticaLight;
        margin-top: 55px;
        line-height: 24px;
        max-width: 500px;
    }
    .section-header{
        font-family: HelveticaMedium;
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
        margin-top: 50px;

        .marker-font{
            font-size: 60px;
            font-family: RadioVolna;
        }
    }

    .blocks{
        width: 100%;
        background-image: url("../img/ramka1.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: relative;
        padding: 10%;
    }
    
}
@media(max-width: 1199px){
    .whatIs{
        .section-header{
            margin-top: 0;
        }
    }
}
@media (max-width: 414px){
    .whatIs{
        .text{
            font-size: 12px;
            margin-top: 30px;
        }
        .section-header{
            font-size: 22px;
            line-height: 30px;

            .marker-font{
                font-size: 34px;
                line-height: 29px;
            }
        }
    }
}




.ifYou{
    text-align: center;

    .blocks{
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
    }

    .block{
        width: 263px;
    }

    .text{
        font-family: HelveticaLight;
        font-size: 18px;
        line-height: 24px;
        margin-top: 45px;
    }
    img{
        display: inline-block;
        margin: 0 auto;
        width: 108px;
        height: 104px;
    }

    .info{
        font-family: HelveticaMedium;
        font-size: 24px;
        color: $firmColor;
        margin-bottom: 70px;
        line-height: 30px;
    }
}
@media(max-width: 768px){
    .ifYou{
        .blocks{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .block{
            margin-top: 80px;

            &:first-child{
                margin-top: 10px;
            }
        }
        .text{
            margin-top: 26px;
        }
        .info{
            margin-top: 60px;
        }
    }
}
@media(max-width: 414px){
    .ifYou{
        img{
            width: 49px;
            height: 50px;
        }
        .text{
            max-width: 186px;
            font-size: 12px;
            margin: 0 auto;
            margin-top: 15px;
        }
        .block{
            margin-top: 50px;

            &:first-child{
                margin-top: 0;
            }
        }
        .info{
            font-size: 12px;
            line-height: 20px;
            max-width: 218px;
            margin: 0 auto;
            margin-bottom: 50px;
        }
    }
}




.programm{
    .section-info{
        font-family: HelveticaLight;
        font-size: 18px;
        line-height: 26px;
        max-width: 911px;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .img-container{
        background-image: url("../img/ramka-slider.png");
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 806px;
        float: left;

        img{
           padding: 10%; 
        }
    }

    .buttons-section{
        float: right;
        margin-top: 18px;

        .top-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 317px;
            height: 496px;
            background-image: url("../img/4_slider_2.jpg");
            background-position: center center;
    
            .hover{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(158, 177, 207, .7);
            }
        }

        .dots-buttons{
            display: flex;
            justify-content: space-between;
            margin-top: 91px;

            .dot{
                width: 13px;
                height: 13px;
                border: 1px solid $firmColor;
                border-radius: 50px;
                cursor: pointer;
                background-color: #ffffff;

                &:nth-child(1){
                    background-color: $firmColor;
                }
            }
        }
    }

    .small-button{
        background-image: url("../img/small_button_bg_small.png");
        background-color: rgba(255, 255, 255, 0);
        background-repeat: no-repeat;
        background-size: cover;
        width: 54px;
        height: 50px;
        border: none;
        z-index: 100;
        position: relative;
        &:hover{
            background-position: right 0;
        }

        img{
            padding-right: 0;
        }
    }

    .small-screen-button{
        display: none;
    }

    .slide{
        display: none;

        &:nth-child(1){
            display: block;
        }
    }
    .slider-name{
        font-family: HelveticaMedium;
        font-size: 26px;
        font-weight: bold;
        color: $firmColor;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .slider-text{
        font-size: 18px;
    }
}
@media(max-width: 1199px){
    .programm{

        .small-screen-button{
            position: absolute;
            right: 3%;
            display: block;
            float: right;
        }

        .img-container{
            width: 70%;
        }

        .slider{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
        .buttons-section{
            width: 80%;

            .top-buttons{
                display: none;
            }

            .dots-buttons{
                margin: 0 auto;
                margin-top: 0;
                width: 80%;
            }
        }
        .slider-name{
            margin-top: 40px;
        }
    }
}
@media(max-width: 414px){
    .programm{
        .small-button{
            width: 42px;
            height: 38px;
        }
        .section-info{
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 16px;
        }
        .img-container{
            max-width: 200px;
            img{
                padding: 7% 7% 10% 6%;
            }
        }
        .buttons-section{
            margin-top: 5px;

            .dots-buttons{
                margin: 0 auto;
                //margin-bottom: 25px;
                max-width: 190px;

                .dot{
                    width: 9px;
                    height: 9px;
                }
            }
        }
        .slider-name{
            font-size: 12px;
            margin: 25px 0 15px 0;
        }
        .slider-text{
            font-size: 12px;
            line-height: 15px;
        }
    }
}




.bg-img{
    position: absolute;
}
.bg-img-2{
    top: 180px;
    right: 0;
}
.bg-img-3{
    right: 0;
    top: 730px;
}
.bg-img-4{
    left: 2%;
    top: 1100px;
}
.bg-img-5{
    right: 0;
    top: 1330px;
}
.bg-img-6{
    left: 0;
    top: 1530px;
}
.youLearn{
    .blockFull{
        width: 100%;
        display: inline-block;
        padding: 30px 0;
    }
    .blockHalf{
        width: 50%;

        .text{
            max-width: 390px;
            min-width: 300px;
            font-family: HelveticaLight;
            font-size: 22px;
        }
        .icon{
            margin-bottom: 30px;
        }
    }
    .block-right{
        float: right;
    }

    .last-block{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .blockHalf{
            max-width: 390px;
            min-width: 300px;
            float: left;
        }
    }
    .big-arrow{
        margin-right: 128px;
    }
}
@media(max-width: 1199px){
    .youLearn{
        .big-arrow{
            display: none;
        }
    }
}
@media(max-width: 991px){
    .wrapper-gray{
        .bg-img-1{
            width: 60%;
            right: 44%;
        }
        .bg-img-2{
            width: 60%;
            top: 130px;
            left: 60%;
        }
        .bg-img-4{
            top: 1150px;
            left: auto;
            right: 50%;
        }
    }
}
@media(max-width: 766px){
    .wrapper-gray{
        .bg-img-2{
            top: 100px;
            left: 70%;
        }
        .bg-img-3{
            right: 0;
            top: 900px;
            width: 300px;
        }
        .bg-img-4{
            top: 710px;
            left: auto;
            right: 60%;
            width: 300px;
        }
        .bg-img-5{
            right: 0;
            top: 1630px;
        }
        .bg-img-6{
            left: 0;
            top: 1390px;
        }
    }
    .youLearn{
        .blockHalf{
            width: 100%;
            text-align: center;

            .text{
                margin: 0 auto;
            }
        }
        .last-block{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .block-button{
            margin-top: 60px;
        }
    }
}
@media(max-width: 414px){
    .wrapper-gray{
        .bg-img-2{
            width: 60%;
            top: 40px;
            right: 40%;
        }
        .bg-img-3{
            right: -10px;
            top: 480px;
            width: 180px;
        }
        .bg-img-4{
            top: 370px;
            left: auto;
            right: 60%;
            width: 200px;
        }
        .bg-img-5{
            right: 0;
            width: 100px;
            top: 930px;
        }
        .bg-img-6{
            left: -20px;
            top: 840px;
            width: 100px;
        }
    }
    .youLearn{
        .blockHalf{
            .text{
                max-width: 208px;
                min-width: auto;
                font-size: 12px;
            }
            .icon{
                width: 45px;
                margin: 0 auto;
                margin-bottom: 10px;
            }
        }
    }
}




.comments{
    position: relative;
    overflow: hidden;

    .show-comment{
        text-align: center;
        text-decoration: underline;
        color: $firmColor;
        font-weight: bold;
        font-size: 12px;
        display: none;
        cursor: pointer;
    }

    .section-header-full{
        margin-bottom: 40px;
    }

    .comment-img{
        padding-right: 37px;
    }

    .comment-block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    .slide-container{
        position: relative;

        .text-block{
            position: relative;
            left: 0px;
        }
        .text-block:nth-child(2){
            display: none;
        }
    }

    .name{
        font-family: HelveticaMedium;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .text{
        font-family: HelveticaLightItalic;
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px;

        &:first-child{
            margin-top: 0;
        }
    }
    .button-line{
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p,button{
            display: inline-block;
        }
        .help-info{
            font-size: 16px;
            color: #9d9999;
        }
    }
    .img-section{
        .small-button{
            display: none;
        }
    }
    .small-button{
        background-image: url("../img/small_button_bg_small.png");
        background-color: rgba(255, 255, 255, 0);
        background-repeat: no-repeat;
        width: 54px;
        height: 50px;
        border: none;
        margin-left: 22px;

        &:hover{
            background-position: right 0;
        }

        img{
            padding-right: 0;
        }
    }
}
@include media-breakpoint-down(md) {
    .comments{
        .comment-img{
            margin: 0 auto;
            display: block;
            padding-right: 0;
            margin-bottom: 40px;
        }
    }
}
@media(max-width: 414px){
    .comments .text{
        margin-top: 0;

        &:first-child{
            margin-top: 0;
        }
    }
    .comments .show-comment{
        display: block;
    }
    .comments .img-section .small-button{
        display: block;
        position: absolute;
        top: 35%;
        right: 4%;
    }
    .comments .name{
        font-size: 14px;
        text-align: center;
    }
    .comments .text{
        font-size: 12px;
        line-height: normal;
        text-align: center;
    }
    .comments{
        .comment-img{
            margin-bottom: 20px;
            max-width: 174px;
        }
    }
    .comments .button-line{
        display: none;
    }
}




.cost{
    .section-header{
        font-size: 60px;
        font-family: RadioVolna;
        font-weight: 300;
        line-height: 70px;
        margin-top: 50px;

        .price{
            font-size: 72px;
            font-family: HelveticaMedium;
            color: $firmColor;
        }
    }
    .info{
        font-family: HelveticaMedium;
        font-size: 30px;
        color: $firmColor;
        line-height: 40px;
        margin-top: 40px;
    }

    .form-block{
        background-image: url("../img/form-bg.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        padding: 40px 50px;
        width: 100%;
        max-width: 517px;
    }

    .main-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 25px 65px;
        background-color: #fff;
        width: 100%;

        fieldset{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        input{
            width: 100%;
            text-align: center;
            border: none;
            border-bottom: 1px solid #000;
            font-size: 16px;
            padding-bottom: 15px;

            &::placeholder{
                opacity: .4;
                font-size: 16px;
            }

            &:nth-child(2){
                margin-top: 70px;
            }

            &:nth-child(3){
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

        .form-header{
            font-family: HelveticaLight;
            font-size: 30px;
        }
    
        .form-header-info{
            font-family: HelveticaLight;
            font-size: 16px;
            margin-bottom: 50px;
        }
    }

}
@media(max-width: 414px){
    .cost{
        .section-header{
            margin-top: 0;
            font-size: 30px;
            line-height: 30px;

            .price{
                font-size: 30px;
            }
        }
        .info{
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;
        }
        .form-block{
            padding: 8% 6%;
        }
        .main-form{
            padding: 20px 15px 30px;

            .form-header{
                font-size: 14px;
            }
            .form-header-info{
                font-size: 8px;
                margin-bottom: 20px;
            }
            input{
                padding-bottom: 8px;
                font-size: 8px;

                &::placeholder{
                    font-size: 8px;
                }

                &:nth-child(2){
                    margin-top: 32px;
                }

                &:nth-child(3){
                    margin-top: 24px;
                    margin-bottom: 25px;
                }
            }
        }
    }
}




footer{
    position: relative;
    overflow: hidden;

    .img-container{
        position: relative;

        img{
            position: absolute;
            width: 40%;
            min-width: 877px;
            left: 60%;
        }
    }

    .section-header{
        font-weight: 300;
        line-height: 50px;
        font-size: 60px;
        font-family: RadioVolna;
        margin-bottom: 50px;
    }

    .main-contacts{
        font-family: HelveticaLight;
        font-size: 18px;

        .hide-text{
            display: inline-block;
        }
    }
    .main-contacts li{
        display: block;
        padding-left: 42px;
        margin-bottom: 14px;

        &:nth-child(1){
            background-image: url("../img/footer-icon-phone.png");
            background-repeat: no-repeat;
            background-position: 2px 0;
        }
        &:nth-child(2){
            background-image: url("../img/footer-icon-email.png");
            background-repeat: no-repeat;
        }
        &:nth-child(3){
            background-image: url("../img/footer-icon-adress.png");
            background-repeat: no-repeat;
            background-position: 5px 0;
        }
        &:nth-child(4){
            background-image: url("../img/footer-icon-time.png");
            background-repeat: no-repeat;
            background-position: 1px 0;
        }
    }
    .footer-icons{
        margin-top: 40px;
        width: 100%;
        
        .icon-circle{
            background-color: $firmColor3;
        }
    }

    .path{
        font-size: 16px;
    }
    .path-header{
        font-family: HelveticaMedium;
        font-weight: bold;
        margin-top: 53px;
        margin-bottom: 25px;
    }
    .path-text{
        font-family: HelveticaLight;
    }
    .path-map{
        display: none;
    }

    .small-map{
        width: 100%;
        display: none;
    }
}
@include media-breakpoint-down(md) {
    footer{
        .img-container{
            display: none;
        }
        .small-map{
            max-width: 70%;
            margin-top: 30px;
            display: block;
        }
    }
}
@media(max-width: 414px){
    footer{
        .small-map{
            display: none;
            margin-top: 0;
        }
        .section-header{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .main-contacts{
            font-size: 16px;
            width: 100%;

            li{
                max-width: 239px;
            }

            .hide-text{
                display: none;
            }
        }
        .footer-icons{
            margin-top: 20px;
        }
        .path-header{
            font-size: 14px;
            color: $firmColor3;
            text-decoration: underline;
            margin-bottom: 0;
            cursor: pointer;
        }
        .path2{
            margin-bottom: 10px;
        }
        .path-text{
            display: none;
            margin-bottom: 10px;
        }
        .path-map{
            display: block;
            width: 100%;
            margin-top: 0;
        }
    }
}