ul, li{
    display: inline-block;
    padding: 0;
    margin: 0;
}

h1,h2,button,p,ul{
    margin: 0;
}

.icon-circle{
    background-color: $firmColor;
    border-radius: 50%;
    color: #f4f4f4f4;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 18px;
}
li:last-child .icon-circle{
    margin-right: 0;
}

.big-button{
    background-image: url("../img/big_button_bg_2.png");
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 269px;
    height: 85px;

    &:hover{
        background-position: right 0;
    }
}

body, a{
    color: $firmColor2;
}

.section{
    padding-top: 90px;
    padding-bottom: 90px;
}

a:hover{
    color: $firmColor-hover;
    text-decoration: none;
}

.section-header-full{
    font-family: RadioVolna;
    font-size: 85px;
    text-align: center;
    width: 100%;
    line-height: 90px;
}
@media(max-width: 414px){
    .section-header-full{
        font-size: 30px;
        line-height: 0;
    }
}

.wrapper-gray{
    background-color: $firmColor-bg;
    position: relative;
}

img{
    max-width: 100%;
}




header {
    background-image: url("../img/1_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 200px;

    .logo-container{
        position: relative;
        font-family: GeometriaBold;
        text-transform: uppercase;
        color: #ffffff;

        img{
            max-width: none;
        }

        .name{
            position: relative;
            font-size: 24px;
            color: #ffffff;
            font-weight: bold;
        }

        .bg{
            position: absolute;
            top: -30px;
            left: -390px;
        }
    }

    a{
        font-family: HelveticaMedium;
        color: $firmColor2;
    }
    .nav-link{
        margin-right: 60px;
        font-size: 18px;
    }
    .main-nav-ul li:last-child a{
        margin-right: 0;
    }

    .main-h{
        font-family: RadioVolna;
        font-size: 115px;
        line-height: 115px;
        margin-top: 66px;
    }

    .subtitle{
        font-size: 24px;
    }

    .big-button{
        margin-top: 46px;
        margin-bottom: 76px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding: 100px 0;
    }

    .datail{
        font-family: HelveticaMedium;
        font-size: 24px;
        color: $firmColor;

        &:before{
            content: url("../img/check.png");
            margin-right: 27px;
            display: inline-block;
        }
    }
}




.whatIs{
    .text{
        font-size: 18px;
        font-family: HelveticaLight;
        margin-top: 55px;
        line-height: 24px;
        max-width: 500px;
    }
    .section-header{
        font-family: HelveticaMedium;
        font-size: 40px;
        font-weight: 300;
        line-height: 50px;
        margin-top: 50px;

        .marker-font{
            font-size: 60px;
            font-family: RadioVolna;
        }
    }

    .blocks{
        width: 100%;
        background-image: url("../img/ramka1.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: relative;
        padding: 10%;
    }
    
}
@media (max-width: 414px){
    .whatIs{
        .section-header{
            font-size: 22px;
            line-height: 30px;

            .marker-font{
                font-size: 34px;
                line-height: 29px;
            }
        }
    }
}




.ifYou{
    text-align: center;

    .blocks{
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
    }

    .block{
        width: 263px;
    }

    .text{
        font-family: HelveticaLight;
        font-size: 18px;
        line-height: 24px;
        margin-top: 45px;
    }
    img{
        display: inline-block;
        margin: 0 auto;
        width: 108px;
        height: 104px;
    }

    .info{
        font-family: HelveticaMedium;
        font-size: 24px;
        color: $firmColor;
        margin-bottom: 70px;
        line-height: 30px;
    }
}
@media(max-width:768px){
    .ifYou{
        .blocks{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .block{
            margin-top: 80px;

            &:first-child{
                margin-top: 10px;
            }
        }
        .text{
            margin-top: 26px;
        }
        .info{
            margin-top: 60px;
        }
    }
}




.programm{
    .section-info{
        font-family: HelveticaLight;
        font-size: 18px;
        line-height: 26px;
        max-width: 911px;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .img-container{
        background-image: url("../img/ramka-slider.png");
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 806px;
        float: left;

        img{
           padding: 10%; 
        }
    }

    .buttons-section{
        float: right;
        margin-top: 18px;

        .top-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 317px;
            height: 496px;
            background-image: url("../img/4_slider_2.jpg");
            background-position: center center;
    
            .hover{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(158, 177, 207, .7);
            }
        }

        .small-button{
            background-image: url("../img/small_button_bg_small.png");
            background-color: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            width: 54px;
            height: 50px;
            border: none;
            z-index: 100;
            position: relative;
            &:hover{
                background-position: right 0;
            }
    
            img{
                padding-right: 0;
            }
        }

        .dots-buttons{
            display: flex;
            justify-content: space-between;
            margin-top: 91px;

            .dot{
                width: 13px;
                height: 13px;
                border: 1px solid $firmColor;
                border-radius: 50px;
                cursor: pointer;

                &:nth-child(1){
                    background-color: $firmColor;
                }
            }
        }
    }

    .slide{
        display: none;

        &:nth-child(1){
            display: block;
        }
    }
    .slider-name{
        font-family: HelveticaMedium;
        font-size: 26px;
        font-weight: bold;
        color: $firmColor;
        margin-top: 15px;
        margin-bottom: 40px;
    }
    .slider-text{
        font-size: 18px;
    }
}




.bg-img{
    position: absolute;
}
.bg-img-2{
    top: 180px;
    right: 0;
}
.bg-img-3{
    right: 0;
    top: 730px;
}
.bg-img-4{
    left: 2%;
    top: 1100px;
}
.bg-img-5{
    right: 0;
    top: 1330px;
}
.bg-img-6{
    left: 0;
    top: 1530px;
}
.youLearn{
    .blockFull{
        width: 100%;
        display: inline-block;
        padding: 30px 0;
    }
    .blockHalf{
        width: 50%;

        .text{
            max-width: 390px;
            font-family: HelveticaLight;
            font-size: 22px;
        }
        .icon{
            margin-bottom: 30px;
        }
    }
    .block-right{
        float: right;
    }

    .last-block{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .blockHalf{
            max-width: 390px;
        }
    }
    .big-arrow{
        margin-right: 128px;
    }
    .block-button{
        float: right;
    }
}




.comments{
    position: relative;

    .section-header-full{
        margin-bottom: 40px;
    }

    img{
        padding-right: 37px;
    }

    .name{
        font-family: HelveticaMedium;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .text{
        font-family: HelveticaLightItalic;
        font-size: 18px;
        line-height: 24px;
    }
    .button-line{
        position: absolute;
        bottom: 0;
        right: 15px;
        display: flex;
        align-items: center;

        p,button{
            display: inline-block;
        }
        .help-info{
            font-size: 16px;
            color: #9d9999;
        }

        .small-button{
            background-image: url("../img/small_button_bg_small.png");
            background-color: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            width: 54px;
            height: 50px;
            border: none;
            margin-left: 22px;

            &:hover{
                background-position: right 0;
            }

            img{
                padding-right: 0;
            }
        }
    }
}




.cost{
    .section-header{
        font-size: 60px;
        font-family: RadioVolna;
        font-weight: 300;
        line-height: 70px;
        margin-top: 50px;

        .price{
            font-size: 72px;
            font-family: HelveticaMedium;
            color: $firmColor;
        }
    }
    .info{
        font-family: HelveticaMedium;
        font-size: 30px;
        color: $firmColor;
        line-height: 40px;
        margin-top: 40px;
    }

    .form-block{
        background-image: url("../img/form-bg.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        padding: 40px 50px;
    }

    .main-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 25px 65px;
        max-width: 516px;
        background-color: #fff;
        width: 100%;

        fieldset{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        input{
            width: 100%;
            text-align: center;
            border: none;
            border-bottom: 1px solid #000;
            font-size: 16px;
            padding-bottom: 15px;

            &::placeholder{
                opacity: .4;
                font-size: 16px;
            }

            &:nth-child(2){
                margin-top: 70px;
            }

            &:nth-child(3){
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }

        .form-header{
            font-family: HelveticaLight;
            font-size: 30px;
        }
    
        .form-header-info{
            font-family: HelveticaLight;
            font-size: 16px;
            margin-bottom: 50px;
        }
    }

}




footer{
    position: relative;
    overflow: hidden;

    .img-container{
        position: relative;

        img{
            position: absolute;
            width: 40%;
            min-width: 877px;
            left: 60%;
        }
    }

    .section-header{
        font-weight: 300;
        line-height: 50px;
        font-size: 60px;
        font-family: RadioVolna;
        margin-bottom: 50px;
    }

    .main-contacts{
        font-family: HelveticaLight;
        font-size: 18px;
    }
    .main-contacts li{
        display: block;
        padding-left: 42px;
        margin-bottom: 14px;

        &:nth-child(1){
            background-image: url("../img/footer-icon-phone.png");
            background-repeat: no-repeat;
            background-position: 2px 0;
        }
        &:nth-child(2){
            background-image: url("../img/footer-icon-email.png");
            background-repeat: no-repeat;
        }
        &:nth-child(3){
            background-image: url("../img/footer-icon-adress.png");
            background-repeat: no-repeat;
            background-position: 5px 0;
        }
        &:nth-child(4){
            background-image: url("../img/footer-icon-time.png");
            background-repeat: no-repeat;
            background-position: 1px 0;
        }
    }
    .footer-icons{
        margin-top: 40px;
        
        .icon-circle{
            background-color: $firmColor3;
        }
    }

    .path{
        font-size: 16px;
    }
    .path-header{
        font-family: HelveticaMedium;
        font-weight: bold;
        margin-top: 53px;
        margin-bottom: 25px;
    }
    .path-text{
        font-family: HelveticaLight;
    }
}